* {
	box-sizing: border-box !important;
}

.sign-up {	
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
	height: 90vh;
	box-sizing: content-box;
	margin: auto;
	width: 100%;
}

.sign-up form {
	max-width: 400px;
	margin: 0 auto;
}
form{
	border: 2px solid navy;
	min-width: 300px;
	max-width: 500px;
	min-height: 300px;
	max-height: 500px;
	padding: 10px;
	border-radius: 10px;
	background-color: rgba(0, 0, 255, 0.043);
}
.sign-up .form-control {
	background: #f5f5f5;
	padding: 25px 15px !important;
}
.form-control{
	height: 25px;
	margin:10px 0 10px 0;
}
.error {
	color: red;
}

.sign-up .option label {
	color: red;
	cursor: pointer;
}

